name: Deploy to docker

on:
  schedule:
    - cron: '* * * * *'
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: test-echo-step
        shell: bash
        run: echo "hello world every minute"