apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-website-mr
  labels:
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-website-mr
      tier: backend
  template:
    metadata:
      labels:
        app: backend-website-mr
        tier: backend
    spec:
      volumes:
      - name: dir
        hostPath:
          path: /code
      containers:
      - name: backend-website-mr
        image: standalonealliance/backend-website-mr:latest
        ports:
          - containerPort: 80 #laravel application port
        command: ["php", "artisan", "serve", "--host", "0.0.0.0", "--port", "80"]
        volumeMounts:
        - name: dir
          mountPath: /code
      initContainers:
      - name: install
        image: busybox
        volumeMounts:
        - name: dir
          mountPath: /code
        command:
        - cp
        - "-r"
        - "/var/www/"
        - "/code/app"
      # Temporary debugging container
      - name: injector-container
        image: busybox
        command: ["sh", "-c"]
        args: 
        - |
          echo "hi"
          echo "hi 0"
        volumeMounts:
        - name: dir
          mountPath: /code


# change this approach

# 